/* --------*/
/* RESET */
/* ------*/
/* BOX SIZING*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
header,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*SET UP THE BODY*/
body {
  line-height: 1.5;
  min-height: 100vh;
}

/*MAKE IMG EASIER TO WORK WITH*/
img,
picture {
  max-width: 100%;
  display: block;
}

/*MAKE FORMS EASIER TO WORK WITH*/
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* END OF RESETS*/
.text-gal-blue {
  color: #755cde;
}

.bg-gal-blue {
  background-color: #755cde;
}

.text-sum-yellow {
  color: #f6a560;
}

.bg-sum-yellow {
  background-color: #f6a560;
}

.text-pink {
  color: #f39e9e;
}

.bg-pink {
  background-color: #f39e9e;
}

.text-light-red {
  color: #eb7565;
}

.bg-light-red {
  background-color: #eb7565;
}

.text-cyan {
  color: #61c4b7;
}

.bg-cyan {
  background-color: #61c4b7;
}

.text-dark-purple {
  color: #552049;
}

.bg-dark-purple {
  background-color: #552049;
}

.text-black {
  color: #030303;
}

.bg-black {
  background-color: #030303;
}

.text-med-brown {
  color: #7a746e;
}

.bg-med-brown {
  background-color: #7a746e;
}

.text-light-cream {
  color: #fff7f0;
}

.bg-light-cream {
  background-color: #fff7f0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

@media (min-width: 0) {
  .col-1-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 480px) {
  .col-1-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 720px) {
  .col-1-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 960px) {
  .col-1-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-1-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row-rev {
  display: flex;
  flex-direction: row-reverse;
}

.flex-col-rev {
  display: flex;
  flex-direction: column-reverse;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.font-bold {
  font-weight: 700;
}

.font-med {
  font-weight: 500;
}

.font-reg {
  font-family: 400;
}

.p-0_5 {
  padding: 8px;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 16px;
}

.p-2 {
  padding: 24px;
}

.p-3 {
  padding: 32px;
}

.p-4 {
  padding: 40px;
}

.p-5 {
  padding: 48px;
}

.pl-0_5 {
  padding-left: 8px;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 16px;
}

.pl-2 {
  padding-left: 24px;
}

.pl-3 {
  padding-left: 32px;
}

.pl-4 {
  padding-left: 40px;
}

.pl-5 {
  padding-left: 48px;
}

.pr-0_5 {
  padding-right: 8px;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 16px;
}

.pr-2 {
  padding-right: 24px;
}

.pr-3 {
  padding-right: 32px;
}

.pr-4 {
  padding-right: 40px;
}

.pr-5 {
  padding-right: 48px;
}

.pt-0_5 {
  padding-top: 8px;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 16px;
}

.pt-2 {
  padding-top: 24px;
}

.pt-3 {
  padding-top: 32px;
}

.pt-4 {
  padding-top: 40px;
}

.pt-5 {
  padding-top: 48px;
}

.pb-0_5 {
  padding-bottom: 8px;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 16px;
}

.pb-2 {
  padding-bottom: 24px;
}

.pb-3 {
  padding-bottom: 32px;
}

.pb-4 {
  padding-bottom: 40px;
}

.pb-5 {
  padding-bottom: 48px;
}

.m-0_5 {
  margin: 8px;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 16px;
}

.m-2 {
  margin: 24px;
}

.m-3 {
  margin: 32px;
}

.m-4 {
  margin: 40px;
}

.m-5 {
  margin: 48px;
}

.ml-0_5 {
  margin-left: 8px;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 16px;
}

.ml-2 {
  margin-left: 24px;
}

.ml-3 {
  margin-left: 32px;
}

.ml-4 {
  margin-left: 40px;
}

.ml-5 {
  margin-left: 48px;
}

.mr-0_5 {
  margin-right: 8px;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 16px;
}

.mr-2 {
  margin-right: 24px;
}

.mr-3 {
  margin-right: 32px;
}

.mr-4 {
  margin-right: 40px;
}

.mr-5 {
  margin-right: 48px;
}

.mt-0_5 {
  margin-top: 8px;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 16px;
}

.mt-2 {
  margin-top: 24px;
}

.mt-3 {
  margin-top: 32px;
}

.mt-4 {
  margin-top: 40px;
}

.mt-5 {
  margin-top: 48px;
}

.mb-0_5 {
  margin-bottom: 8px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 16px;
}

.mb-2 {
  margin-bottom: 24px;
}

.mb-3 {
  margin-bottom: 32px;
}

.mb-4 {
  margin-bottom: 40px;
}

.mb-5 {
  margin-bottom: 48px;
}

body {
  font-family: "Plus Jakarta", sans-serif;
}

button, a {
  cursor: pointer;
}

.content {
  margin: 0 auto;
  max-width: 1111px;
  min-width: 339px;
}
@media (min-width: 0) {
  .content h1 {
    font-size: 2.5rem;
  }
}
@media (min-width: 720px) {
  .content h1 {
    font-size: 3rem;
  }
}
.content .consult-btn1 {
  width: 228px;
  border-radius: 32px;
  border: none;
  color: #fff7f0;
  background-color: #030303;
  font-weight: 700;
}
@media (min-width: 0) {
  .content .consult-btn1 {
    height: 44px;
  }
}
@media (min-width: 480px) {
  .content .consult-btn1 {
    height: 56px;
  }
}
.content .consult-btn1:hover {
  width: 228px;
  border-radius: 32px;
  border: none;
  color: #fff7f0;
  background-color: #755cde;
}
@media (min-width: 0) {
  .content .consult-btn1:hover {
    height: 44px;
  }
}
@media (min-width: 480px) {
  .content .consult-btn1:hover {
    height: 56px;
  }
}
.content .pitch {
  margin: 0 auto;
  max-width: 752px;
}
.content .pitch p {
  margin-inline: 60px;
  font-weight: 500;
}
.content .design-types .row {
  display: flex;
  justify-content: space-around;
}
.content .design-types .row i {
  display: flex;
  justify-content: flex-end;
}
.content .design-types .row p {
  font-size: 1.5rem;
  font-weight: 700;
}
.content .design-types .row .uiux-img, .content .design-types .row .apps-img {
  width: 164px;
  height: 170px;
}
.content .design-types .row .uiux-img, .content .design-types .row .apps-img, .content .design-types .row .photo-img, .content .design-types .row .motion-graph-img {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 12px;
  padding: 24px;
}
.content .design-types .row .illustration-img, .content .design-types .row .photo-img, .content .design-types .row .motion-graph-img {
  height: 170px;
}
.content .design-types .row .graphic-img, .content .design-types .row .illustration-img {
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
}
.content .design-types .row .ui-illustration-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content .design-types .row .photo-motion-group {
  justify-content: space-between;
}
@media (min-width: 0) {
  .content .design-types .row {
    flex-direction: column;
    align-items: center;
  }
  .content .design-types .row .photo-motion-group {
    display: flex;
    flex-direction: column;
  }
  .content .design-types .row .graphic-img, .content .design-types .row .ui-illustration-group, .content .design-types .row .photo-img, .content .design-types .row .motion-graph-img {
    margin-bottom: 20px;
  }
  .content .design-types .row .graphic-img, .content .design-types .row .ui-illustration-group, .content .design-types .row .photo-motion-group {
    height: 364px;
    width: 85%;
  }
}
@media (min-width: 480px) {
  .content .design-types .row {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .content .design-types .row .photo-motion-group {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 16px;
  }
  .content .design-types .row .uiux-img, .content .design-types .row .apps-img {
    width: 46%;
  }
  .content .design-types .row .graphic-img, .content .design-types .row .ui-illustration-group {
    height: 354px;
  }
  .content .design-types .row .graphic-img, .content .design-types .row .ui-illustration-group, .content .design-types .row .photo-img, .content .design-types .row .motion-graph-img {
    width: 47%;
    margin-bottom: 0px;
  }
}
@media (min-width: 720px) {
  .content .design-types .row {
    flex-direction: row;
    height: 364px;
  }
  .content .design-types .row .graphic-img, .content .design-types .row .ui-illustration-group, .content .design-types .row .photo-motion-group {
    width: 31%;
    height: 100%;
  }
  .content .design-types .row .photo-motion-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
  }
  .content .design-types .row .photo-motion-group .photo-img, .content .design-types .row .photo-motion-group .motion-graph-img {
    width: 100%;
  }
}
.content .introduction {
  display: flex;
  margin-top: 153px;
}
.content .introduction i {
  height: 445px;
}
@media (min-width: 0) {
  .content .introduction {
    flex-direction: column;
  }
  .content .introduction h2 {
    font-size: 1.5rem;
  }
  .content .introduction .intro {
    width: 339px;
    text-align: center;
    margin: auto;
  }
  .content .introduction .intro h3, .content .introduction .intro p {
    margin-bottom: 15px;
  }
  .content .introduction i {
    margin: auto;
    max-height: 100%;
    max-width: 364px;
  }
}
@media (min-width: 480px) {
  .content .introduction {
    flex-direction: row;
    height: 364px;
    position: relative;
  }
  .content .introduction h3 {
    font-size: 1.725em;
  }
  .content .introduction p {
    font-size: 0.875em;
    line-height: 24px;
  }
  .content .introduction .intro {
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 47%;
    position: absolute;
    top: 10px;
    right: 0;
    text-align: left;
    margin: 0;
  }
  .content .introduction i {
    margin: 0;
    position: relative;
    top: 0;
    left: -35px;
  }
  .content .introduction i img {
    height: 80%;
  }
}
@media (min-width: 720px) {
  .content .introduction {
    height: 455px;
  }
  .content .introduction h3 {
    font-size: 2.5rem;
    margin: 0;
  }
  .content .introduction p {
    font-size: 1.125em;
    line-height: 24px;
    margin: 0;
  }
  .content .introduction .intro {
    height: 100%;
    padding: 59px 0;
    justify-content: space-between;
    position: relative;
  }
  .content .introduction i {
    position: relative;
    top: 0;
    left: 0;
    clip-path: inset(0px);
    transition: 0.5s clip-path ease;
  }
  .content .introduction i img {
    height: 88%;
  }
}
.content .consult-btn2 {
  width: 228px;
  border-radius: 32px;
  border: none;
  color: #fff7f0;
  background-color: #eb7565;
  font-weight: 700;
}
@media (min-width: 0) {
  .content .consult-btn2 {
    height: 44px;
  }
}
@media (min-width: 480px) {
  .content .consult-btn2 {
    height: 56px;
  }
}
.content .consult-btn2:hover {
  width: 228px;
  border-radius: 32px;
  border: none;
  color: #fff7f0;
  background-color: #f6a560;
}
.content .cta {
  color: white;
  height: 352px;
  border-radius: 10px;
}
@media (min-width: 0) {
  .content .cta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 56px 75px;
  }
  .content .cta button {
    margin: 0 auto;
  }
}
@media (min-width: 720px) {
  .content .cta {
    display: block;
    position: relative;
  }
  .content .cta h2 {
    float: left;
    text-align: left;
    margin-bottom: 25px;
    font-size: 2.5rem;
  }
  .content .cta p {
    clear: both;
    width: 50%;
    text-align: left;
  }
  .content .cta button {
    position: absolute;
    right: 75px;
    top: 140px;
  }
}
@media (min-width: 0) {
  .content .logo {
    width: 44px;
  }
}
@media (min-width: 480px) {
  .content .logo {
    width: 64px;
  }
}

@media (min-width: 0) {
  .work h2 {
    font-size: 1.5rem;
    text-align: center;
    margin: 65px;
  }
  .work .slider {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  .work .slider img {
    width: 75%;
    margin: 0 2.5%;
    scroll-snap-align: center;
  }
  .work .slide-btn {
    text-align: center;
  }
  .work button {
    margin: 10px 0;
    border: none;
    clip-path: circle(30%);
    background-color: #030303;
    padding: 40px;
  }
  .work button:hover {
    margin: 10px 0;
    border: none;
    clip-path: circle(30%);
    background-color: #755cde;
    padding: 40px;
  }
}
@media (min-width: 720px) {
  .work h2 {
    font-size: 2rem;
    margin: 86px;
  }
}