// fonts
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');
// Main basic layout and features

body{
 font-family: $FontFamily;
}
button, a{
    cursor: pointer;
}
.content{
    margin: 0 auto;
    max-width: 1111px;
    min-width: 339px;
    h1{
       
        
       
        @include xs{
            font-size: $F40px;
        }
        @include md{
            font-size: $F48px;
        }
    }
    
    // button and button hover
        .consult-btn1{
        width: 228px;
        @include xs{
            height: 44px;
          }
        @include sm{
            height: 56px;
        }
        border-radius: 32px;
        border: none;
        color: $Light-Cream;
        background-color: $Black;
        font-weight: $F-lg;
    }
    .consult-btn1:hover{
        width: 228px;
        @include xs{
            height: 44px;
          }
      @include sm{
        height: 56px;
      }
        border-radius: 32px;
        border: none;
        color: $Light-Cream;
        background-color: $Gal-Blue;
    }
    .pitch{
        margin: 0 auto;
        max-width: 752px;
        p{
            margin-inline: 60px;
            font-weight: $F-md;
        }
    }
    // pictures layout
    .design-types .row{
        display: flex;
        justify-content: space-around;

        // alignment for text in images inside css immages
        i{
        display: flex;
        justify-content: flex-end;
        }
        p{
        font-size: $F24px;
        font-weight: $F-lg;
        }
        .uiux-img, .apps-img{
            width: 164px;
            height: 170px;
        }
        .uiux-img, .apps-img, .photo-img, .motion-graph-img{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-radius: 12px;
            padding: 24px;
        }
        
        .illustration-img, .photo-img, .motion-graph-img {
            height: 170px;
        }
        .graphic-img, .illustration-img{
           border-radius: 12px;
           display: flex;
           flex-direction: column;
           justify-content: space-between;
           padding: 24px;
           
          
        }
        .ui-illustration-group{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .photo-motion-group{
            justify-content: space-between;
          
        }
        @include xs{
            flex-direction: column;
          
          align-items: center;
            .photo-motion-group{
                display: flex;
                flex-direction: column;
            }
            .graphic-img, .ui-illustration-group, .photo-img, .motion-graph-img{
                margin-bottom: 20px;

            }
            .graphic-img, .ui-illustration-group, .photo-motion-group{
                height: 364px;
                width: 85%;

            }
        }
        @include sm{
            
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            .photo-motion-group{
                width: 100%;
                height: fit-content;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                margin-top: 16px;
              
            }
            .uiux-img, .apps-img{
                width: 46%;
             
            }
            .graphic-img, .ui-illustration-group{
                height: 354px;
                
            }
            .graphic-img, .ui-illustration-group, .photo-img, .motion-graph-img{
                width: 47%;
                margin-bottom: 0px;

            }
        }
       
       
        //  Images for large screens
        @include md{
            flex-direction: row;
            height: 364px;
            .graphic-img, .ui-illustration-group, .photo-motion-group{
              width: 31%;
               height: 100%;
            }
           .photo-motion-group{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 0;
            .photo-img, .motion-graph-img{
                width: 100%;
            }
           
           }
        }
       
    }    
    .introduction{
    
    
        display: flex;
        margin-top: 153px;
      
     
        i {
            height: 445px;
         
         
        }
   
        @include xs{
            flex-direction: column;
            h2{
                font-size: $F24px;
            }
            .intro{
                width: 339px;
                text-align: center;
                margin: auto;
                h3,p{
                    margin-bottom: 15px;
                }
            }
            i{
              margin: auto;
                max-height:100%;
                max-width: 364px;
            }
        }
        @include sm{
            
          flex-direction: row;
            height: 364px;
            position: relative;
            h3{
                font-size: 1.725em;
  
            }
            p{
                font-size: .875em;
                line-height: 24px;
            }
            .intro{
                padding: 0;
                display: flex;
                flex-direction: column;
                width: 47%;
                position: absolute;
                top: 10px;
                right: 0;
                text-align: left;
                margin: 0;
               
            
            }
            i{ 
                margin: 0;
             
              position: relative;
               top: 0;
               left: -35px;
                img{
                    height:80%;

                }
              
            }
          
        }
        @include md{
            height: 455px;
            h3{
                font-size: $F40px;
                margin: 0;
             
            }
            p{
                font-size: 1.125em;
                line-height: 24px;
                margin: 0;
            }
            .intro{
    
                height: 100%;
                padding: 59px 0;
                justify-content: space-between;
               position: relative;
              
            }
            i{
               position: relative;
                top: 0;
                left: 0;
               clip-path: inset(0px);
               transition: .5s clip-path  ease;
                img{
                height: 88%;

                }
              
            } 
        }

    }
   
    // bottom button
    .consult-btn2{
        width: 228px;
        @include xs{
            height: 44px;
          }
      @include sm{
        height: 56px;
      }
    
        border-radius: 32px;
        border: none;
        color: $Light-Cream;
        background-color: $Light-Red;
        font-weight: $F-lg;
    }
    .consult-btn2:hover{

        width: 228px;
        border-radius: 32px;
        border: none;
        color: $Light-Cream;
        background-color: $Sum-Yellow;
    }
    .cta{
        
        color:white;
        height: 352px;
        border-radius: 10px;
        @include xs{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;
            padding: 56px 75px;
            button{
            margin: 0 auto;;

            }
        }

        @include md{
            display: block;
            position: relative;
          
            h2{
                float: left;
                text-align: left;
                margin-bottom: 25px;
                font-size: $F40px;
            }
            p{
               clear: both;
                width: 50%;
                text-align: left;
            }
            button{
            position: absolute;
            right: 75px;
            top: 140px;
                
           
            }
        }
    }
    @include xs{
         .logo{
        width: 44px;
        }
    }
    @include sm{
        .logo{
            width: 64px;
        }
    }
    
  
}

 // My Work Section

 .work{
   @include xs{
       h2{
        font-size: $F24px;
           text-align: center;
           margin: 65px;
       }
       .slider{
        display: flex;
        overflow: hidden;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
      
        img{
                  width: 75%;
                  margin:0 2.5%;
                  scroll-snap-align: center;
        }
        
       }
       .slide-btn{
           text-align: center;
       }
       button{
        margin: 10px 0;
        border: none;
        clip-path: circle(30%);
        background-color: $Black;
        padding: 40px;
       }
       button:hover{
        margin: 10px 0;
        border: none;
        clip-path: circle(30%);
        background-color: $Gal-Blue;
        padding: 40px;
       }
   }
   @include md{
    h2{
        font-size: $F32px;
        margin: 86px;
    }
    .slider{
        display: flex;
        overflow: hidden;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        width: 100%;
      
        img{
                  width: 20%;
                  margin:0 2.5%;
                  scroll-snap-align: center;
        }
        
       }
   }
}

