@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');
// theme colors

$Gal-Blue: #755cde;
$Sum-Yellow: #f6a560;
$Pink: #f39e9e;
$Light-Red: #eb7565;
$Cyan: #61c4b7;
$Dark-Purple: #552049;
$Black: #030303;
$Med-Brown: #7a746e;
$Light-Cream: #fff7f0;

$colors:(
    "gal-blue": $Gal-Blue,
    "sum-yellow": $Sum-Yellow,
    "pink": $Pink,
    "light-red": $Light-Red,
    "cyan": $Cyan,
    "dark-purple": $Dark-Purple,
    "black": $Black,
    "med-brown": $Med-Brown,
    "light-cream": $Light-Cream
);

// Font Family, weight font sizes to rem 
$F14px: .875rem;
$F16px: 1rem;
$F20px: 1.25rem;
$F24px: 1.5rem;
$F32px: 2rem;
$F40px: 2.5rem;
$F48px: 3rem;

$FontFamily: 'Raleway', sans-serif;
$F-sm: 400;
$F-md: 500;
$F-lg: 700;


