
// theme colors

$Gal-Blue: #755cde;
$Sum-Yellow: #f6a560;
$Pink: #f39e9e;
$Light-Red: #eb7565;
$Cyan: #61c4b7;
$Dark-Purple: #552049;
$Black: #030303;
$Med-Brown: #7a746e;
$Light-Cream: #fff7f0;

$colors:(
    "gal-blue": $Gal-Blue,
    "sum-yellow": $Sum-Yellow,
    "pink": $Pink,
    "light-red": $Light-Red,
    "cyan": $Cyan,
    "dark-purple": $Dark-Purple,
    "black": $Black,
    "med-brown": $Med-Brown,
    "light-cream": $Light-Cream
);